.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn.disabled,
.btn:disabled {
  @apply disabled:bg-gray-300 disabled:text-white disabled:shadow-none;
}
.btn:disabled .ic {
  background-color: #fff;
}
